body {
    width: 960px;
    margin: 0 auto;
    font: normal 16px/24px "Lucida Grande", Arial, Ubuntu, sans-serif;
    padding: 20px 20px 0;
}

/* tabelas */

table.lista {
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}

table.lista th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}

table.lista td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

input.checkbox {
  max-width: 400px;
}

table.form td {
  max-width: 150px;
}

  .form_padrao {width:450px; float:left;}
    .form_padrao fieldset {border:0;}
      .form_padrao span {color:#878055;}
      .form_padrao [type="text"], .form_padrao textarea {width:100%; padding:6px 0; border:0; background:#C6C1A5; margin-bottom:10px; text-indent:5px; font:0.9em arial; color:#fff;}
      .form_padrao [type="text"]:focus, .form_padrao textarea:focus {background:#A2C7C3;}
      .form_padrao textarea {height:120px;}
      .form_padrao [type="submit"] {padding:10px 15px; border:0; border-radius:5px; background:#A2C7C3; color:#fff; clear:both;}
      
  label.error{font-size:12px; color:#f00; }